.Certificate-area{
    background-color: beige;

    }
    .bannar-area h1{
        padding: 10px;
        left: 50px;
        right: 50px;
        
    }
    
    .col {
    padding: 20px;
    }


    