*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;


   
}
.navber{
   height: 100%;
 
}
.container-1{
    font-size: 20px;
    height:100vh;
      min-width:256px;
      position:fixed;
      width:30%;
    
   
}
.list{
    margin-top: 80px;
    margin-left: 100px;
    line-height: 1.5rem;
}
ul li{
    list-style: none;
    

}
ul li a{
    text-decoration: none;
    color: #E15352;
}

#check{
    display: none;
}

.icons{
    position: absolute;
    font-size: 1.5rem;
    color: black;
    left:5%;
    top:5%;
    display: none;

}
#bg{
    background-image: url('img/bg.png');
}
/* -------------------------------------------------------------- */
@media (max-width: 1173px) {
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #mobile-menu-icon{
        display: none;
    }

    .icons #mobile-close-icon{
        display: none;
    }

    #check:checked~.icons #mobile-close-icon{
        display: block;
    }

    .list{
        position: absolute;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: .3s ease;
        background-color: bisque;
       
    
        
     
    }
  
    #check:checked~.list{
        height: 35rem;
    }

    .list a {
        display: block;
        transition: .3s ease;
        transform: translateX(-50px);
    }

    #check:checked~.list a{
        transform: translateX(0);
    }
}
/* -------------------------------------------------------- */

/* --------------------sidebar end-------------------------------- */

#textt-1{
    font-size: 20px;
    font-weight: 375;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    
}

.headline{

    font-size: 32px;
    font-weight: 596;
    line-height: 36px;
    letter-spacing: 0.01em;
    margin-left: 780px;
    color: #E15352;
 
}
.privacy{
    margin-top: 106px;
}
.headline span{
    color:#2F2E41;

}
.container-2{
    width: 900px;
    height: 619px;
    margin-top: 80px;
    margin-left: 550px;
   
}
.text-1{
    font-size: 20px;
    font-weight: 375;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;

}
.hr-1{
    border:2px solid#e41818;
    width: 12%;
    border-radius: 4px;
    
}
.hr-2{
    border:2px solid#e41818;
    width: 12%;
    margin-left: 85%;
    border-radius: 4px;
    
}

@media (max-width: 1172px) {
   .container-1{
    position:absolute;
   }
   #textt-1{
    margin-left: -40%;
   }
   .privacy{
    margin-left: -30%;
   }
}
@media (max-width: 994px) {
   .container-1{
    position:absolute;
   }
   #textt-1{
    margin-left: -45%;
   }
   .privacy{
    margin-left: -45%;
   }
}
@media (max-width: 790px){
   .container-1{
    position:absolute;
   }
   #textt-1{
    margin-left: -60%;
   }
   .privacy{
    margin-left: -55%;
   }
}
@media (max-width: 886px){
   .container-1{
    position:absolute;
   }
   #textt-1{
    margin-left: -60%;
   }
   .privacy{
    margin-left: -55%;
   }
}
/* ------------------------------------------------------- */
.text-2{
    font-size: 20px;
    font-weight: 375;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;

}
.all-span{
font-size: 24px;
font-weight: 596;
line-height: 27px;
letter-spacing: 0.01em;
text-align: left;
color: #E15352;
margin-top:-2%;

}
#info{
    margin-top: 10%;
}
#link-to-privacy-policy{
    margin-top: 10%; 
}
#link-to-other-sites{
    margin-top: -30%;
}
#use-of-personal-information{
    margin-top: -28%;
}
#log-data{
    margin-top: -20%;
}
#cookies{
    margin-top: -22%;
}
#service-providers{
    margin-top: -20%;
}
#security{
    margin-top: -22%;
}
#link-to-other-sites-2{
    margin-top: -22%;
}
#whatsapp-policy{
    margin-top: -22%;
}
#children-privacy{
    margin-top: -27%;
}
#consent{
    margin-top: -22%;
}
#contact{
    margin-top: -25%; 
}


/* ============== footer area start ================== */

.footer_para{
    text-align: justify;
}
.footer_care{
   padding: 0 28%;
   text-align: justify;

}
.footer_para_2{
    color: rgb(186, 186, 186);
}
.footer_line{
    width: 100%;
    height: 2px;
    background: white;
}
.footer_end{
    display: flex;
}
/* ============== footer area End ================== */

