*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#bg{
    background-image: url('img/bg.png');
}
.card{
    background-image: url('img/bg.png');  
}
.container{
    max-width: 96%;
    width:1200px;
}  

.banner-area{
    position: relative;
    background-image: url(img/Rectangle\ 52.png);
    background-size: cover;
    height: 616px;
    width: 100%;
    
  }

  .banner-text{
    position: absolute;
    top: 22%;
    left: 25%;
    transform: translate(-50%, 50%);
  
 }
.flex{
    display: flex;
    justify-content:space-around;
}

.contact-form{
   margin-top: 20%;
   margin-left: 50%;
   width:400px;
   height: 277px;
   backdrop-filter: blur(20px);
   border-bottom:3px solid #E15352;
}

.form-1{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid white;
    margin-top: 4%;
    margin-left: 5%;
    color: white;
    
}
.form-2{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid white;
    margin-top: 4%;
    margin-left: 5%;
    color: white;
  

    
}
.submit{
    width:90px;
    height: 34px;
    padding: 5px, 30px, 5px, 30px;
    border-radius: 26px;
    margin-top: 5%;
    margin-left: 5%;
    background-color: #E15352;
    color: white;
    border: none;
}
form p{
    font-size: 20px;
    color: white;
    margin-top: 5%;
    margin-left: 5%;

}
.hole-div{
    display: flex;
    justify-content: space-around;
}
.div-1{
    width: 442px;
    height: 253px;


}
.div-2{
    width: 442px;
    height: 253px;


}
.a{
    font-size: 20px;
    font-weight: 375;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    border-bottom: 3px solid #E15352;


}
.b{
    font-size: 20px;
    font-weight: 375;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    border-bottom: 3px solid #E15352;


}
.c{
    font-size: 20px;
    font-weight: 375;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    border-bottom: 3px solid #E15352;


}
.card h2{
    text-align: center;
    margin-top: 5%;
    color: #E15352;
}
.a h4{
    color: #E15352;
    margin-top: 15%;
}
.b h4{
    color: #E15352;
    margin-top: 15%;
}
.c h4{
    color: #E15352;
    margin-top: 15%;
}
.principal-area{
    margin-top: 5%;
}
.submit-2{
    width:150px;
    height: 40px;
    border-radius: 26px;
    margin-top: 55%;
    margin-left: 45%;
    background-color: #E15352;
    color: white;
    border: none;
    
}
.track{
    display: flex;
    justify-content: space-around;
    background-color: #E15352;
    height: 75px;
    
}
.track-1{
    display: flex;
    justify-content: space-around;
    background-color:rgba(225, 83, 82, 0.2);
     border-bottom:2px solid #E15352;
    height: 75px;
}
.track-2{
    display: flex;
    justify-content: space-around;
    background-color:rgba(225, 83, 82, 0.2);
    border-bottom:2px solid #E15352;
    height: 75px;
}
.track-3{
    display: flex;
    justify-content: space-around;
    background-color:  rgba(225, 83, 82, 0.2);
    border-bottom:2px solid #E15352;
    height: 75px;
}
.track-4{
    display: flex;
    justify-content: space-around;
    background-color: rgba(225, 83, 82, 0.2);
    border-bottom:2px solid #E15352;
    height: 75px;
}
.track-5{
    display: flex;
    justify-content: space-around;
    background-color: rgba(225, 83, 82, 0.2);
    border-bottom: 2px solid #E15352;
    height: 75px;
}
.track-6{
    display: flex;
    justify-content: space-around;
    background-color: rgba(225, 83, 82, 0.2);
    border-bottom:2px solid #E15352;
    height: 75px;
}
.track-7{
    display: flex;
    justify-content: space-around;
    background-color:  rgba(225, 83, 82, 0.2);
    border-bottom:2px solid #E15352;
    height: 75px;
}
.track-8{
    display: flex;
    justify-content: space-around;
    background-color:  rgba(225, 83, 82, 0.2);
    border-bottom:2px solid #E15352;
    height: 75px;
}
#trackon{
    margin-top: 5%;
    text-align: center;
    background-image: url('img/bg.png');

}
.track{
    margin-top: 5%;
}
.pri-flex{
    display: flex;
    justify-content: space-between;
}
.principal-img{
    margin-top:10% ;
}
.hr-1{
    border:2px solid#e41818;
    width: 15%;
    border-radius: 4px;

}
.hr-1-2{
    border:2px solid#e41818;
    width: 15%;
    border-radius: 4px;
    margin-left: 80%;
}
.principal-text{
    font-size: 20px;
    font-weight: 375;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-left: 5%;
    
}
.sakila{
    width:150px;
    height: 40px;
    border-radius: 26px;
    background-color: #E15352;
    border: none;
}
.sakila a{
    color:white;
}
/* ---------------------------------------------------------------------- */
.color-div{
    background: #E15352;
    border-top-left-radius:104px ;
    border-bottom-right-radius:104px ;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width:934px ;
    height:420px;
    display: flex;
    justify-content: space-around;
}
.phone{
    margin-top: 8%;
   margin-left: 8%;
 
}
.mobile{
    margin-top: -20%;
}
.phone-text h2{
    font-size: 32px;
    font-weight: 596;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
    margin-top: 10%;
    margin-left: 2%;

}
.phone-text p{
    color: white;
    font-size: 20px;
    font-weight: 375;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-left: 2%;
    margin-top: 3%;
    
}
.google-img{
    display: flex;
    margin-top: -5%;
    margin-left: 2%;
}
.app{
    margin-left: 2%;
}










/* ============== footer area start ================== */

.footer_para{
    text-align: justify;
}
.footer_care{
   padding: 0 28%;
   text-align: justify;

}
.footer_para_2{
    color: rgb(186, 186, 186);
}
.footer_line{
    width: 100%;
    height: 2px;
    background: white;
}
.footer_end{
    display: flex;
}
/* ============== footer area End ================== */
.bg-danger{
    margin-top: 5%;
}

.slider{
    margin-left: 25%;
}
